<ion-header>
  <ion-navbar color='primary'>
    <ion-buttons left>
      <button ion-button (click)="openMenu()"> 
        <ion-icon name="menu"></ion-icon>
     </button>
  </ion-buttons>
    <ion-title>
      RecAdoption
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="adotante != null">
    <b> Olá {{adotante.nome}} </b>
    <p>Recomendados para você:
    </p>
  </div>

  <ion-list *ngIf="recomendados != null">
    
      <ion-card class="card" *ngFor="let animal of recomendados">
        <ion-card-header>
            <div class="nome">   
              {{animal.nome}}
              <div class="foto" *ngIf="animal.foto">
                <img src={{animal.foto}} /> 
              </div>    
              <div class="foto" *ngIf="!animal.foto">
                <img src="/assets/imgs/semfoto.svg" /> 
              </div>  
            </div> 
           
          
        </ion-card-header>
        <ion-card-content>
          <div class="fonte">
            <div class="principais">
              <p><b>{{animal.prop_sexo}}</b></p>
              <p><b>Porte:</b> {{animal.prop_porte}}</p>
              <p><b>Pelagem {{animal.pelagem}}</b></p>
              <p><b>Ideal p/ {{animal.moradia}}</b></p>
            </div>
           
            <p><b>Gosta de crianças:</b> {{animal.prop_amigavel_crianca}} </p>
            <p> <b>Cão de guarda:</b> {{animal.prop_guarda}}</p>
            <p> <b>Brincalhão:</b> {{animal.prop_brincadeira}} </p>
            <p> <b>Necessidade de correr:</b> {{animal.prop_exercicio}} </p>
            <p> <b>Queda de pêlo:</b> {{animal.prop_queda_pelo}} </p>
            <p> <b>Tende a latir:</b> {{animal.prop_tendencia_latir}} </p>
          </div>
        </ion-card-content>
          <ionic3-star-rating #rating 
            activeIcon = "ios-star"
            defaultIcon = "ios-star-outline"
            activeColor = "#488aff" 
            defaultColor = "#7d908c"
            readonly="false"
            rating={{animal.avaliacao}}
            fontSize = "32px"
            (ratingChanged)="logRatingChange($event, animal)">
          </ionic3-star-rating>
      </ion-card>
  </ion-list>
  <div *ngIf="countRecomendados !== 10">
    <button ion-button full (click)="getAvaliados()"> 
      Ver mais
    </button>
  </div>
  <div *ngIf="countRecomendados === 10">
    <button ion-button full (click)="goToConclusaoPage()"> 
      Concluir
    </button>
  </div>
</ion-content>