<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title>
      RecAdoption
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="/assets/imgs/principal.png"/>

  <button ion-button full (click)='goToListaUsuarioPage()'>Suas preferências</button>
  <button ion-button color="secondary" full (click)='goToListaAnimaisPage()'>Lista de Animais</button>
  <button ion-button color="danger" full (click)='goToRecomendacaoPage()'>Recomendações</button>
</ion-content> -->

<ion-header>
  <ion-navbar color='primary'>
    <ion-title>
      RecAdoption
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="adotante != null">
    Olá {{adotante.nome}}
  <!-- <p>{{adotante.nome}}</p>
  <p>{{adotante.moradia}}</p>
  <p>{{adotante.porte}}</p>
  <p>{{adotante.pelagem}}</p>
  <p>{{adotante.sexo}}</p> -->
  </div>
 
  <button ion-button block (click)="goToPerfil()">Preferências</button>
  <button ion-button block (click)="goToListaAnimaisPage()">Lista de Animais</button>
  <button ion-button block (click)="goToListaAnimaisPage()">Recomendados</button>

  <ion-item *ngFor="let animal of recomendados">
    <p> {{animal.nome}}</p>
  </ion-item>


</ion-content>