.botoes{
    margin-top: 20px;
}

.avatar{
    background: blue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
}

.item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: 50%;
    overflow: hidden;
    width: 90px;
    height: 90px;
}

.item-md h2 {
    
    font-size: 2.5rem;
    font-weight: bold;
}

.item-ios.item-block .item-inner {
    border-bottom: none;
 }


.item-md.item-block .item-inner {
   border-bottom: none;
}


