<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
      <div [hidden]="!form.controls.nome.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Tipo</ion-label>
      <ion-select [(ngModel)]="tipo" formControlName="tipo">
        <ion-option value="cachorro">Cachorro</ion-option>
        <ion-option value="gato">Gato</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!form.controls.tipo.valid && (form.controls.tipo.dirty || form.controls.tipo.touched)" color="danger">
      <div [hidden]="!form.controls.tipo.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Porte</ion-label>
      <ion-select [(ngModel)]="porte" formControlName="porte">
        <ion-option value="pequeno">Pequeno</ion-option>
        <ion-option value="medio">Médio</ion-option>
        <ion-option value="grande">Grande</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!form.controls.porte.valid && (form.controls.porte.dirty || form.controls.porte.touched)" color="danger">
      <div [hidden]="!form.controls.porte.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    
    <ion-item>
      <ion-label stacked>Pelagem</ion-label>
      <ion-select [(ngModel)]="pelagem" formControlName="pelagem">
        <ion-option value="curta">Curta</ion-option>
        <ion-option value="longa">Longa</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!form.controls.pelagem.valid && (form.controls.pelagem.dirty || form.controls.pelagem.touched)" color="danger">
      <div [hidden]="!form.controls.pelagem.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>
</ion-content>